<header data-fls-header class="header">
  <div class="header__container">
    <div class="header__body">
      <if condition="'[[home]]' === 'true'">
        <img class="header__logo" src="@img/logo.svg" alt="Image" />
      </if>
      <else>
        <a href="index.html" class="header__link-logo">
          <img class="header__logo" src="@img/logo.svg" alt="Image" />
        </a>
      </else>
      <div class="header__nav">
        <include
          src="@components/layout/menu/menu.html"
          locals='{"active":"[[active]]"}'
        ></include>
        <a
          href="/contacts.html"
          data-fls-button
          class="header__button button button--green"
          >get in touch</a
        >
      </div>

      <!-- <button type="button" data-fls-menu class="icon-menu">
        <span></span>
      </button> -->
    </div>
  </div>
</header>
