<aside data-fls-letswork class="lets-work">
  <div
    data-fls-marquee
    data-fls-marquee-speed="250"
    data-fls-marquee-space="10"
    class="lets-work__line line-work"
  >
    <div class="line-work__item">Let’s work</div>
    <div class="line-work__item">■</div>
  </div>

  <section class="lets-work__body">
    <div class="lets-work__container">
      <div class="lets-work__content">
        <div class="lets-work__star">
          <img src="@img/star.svg" alt="star image" />
        </div>
        <h2 class="lets-work__title">Let’s create your new brand</h2>

        <a
          href="/contacts.html"
          data-fls-button
          class="lets-work__button button button--green"
          >get in touch</a
        >
      </div>
    </div>
  </section>
</aside>
